<h1>Workshop Todo List
</h1>

<h3>Incomplete To-do</h3>
<ul>
<% @incomplete_todos.each do |todo| %>
  <li>
    <a href="/todo/show/<%= todo.id%>"><%= todo.description%></a>
    <span><%= todo.pomodoros%> pomodoros</span>
  </li>
<% end %>
</ul>
<h3>Completed To-do</h3>
<ul>
<% @completed_todos.each do |todo| %>
  <li>
    <a href="/todo/show/<%= todo.id%>"><%= todo.description%></a>
    <span><%= todo.pomodoros%> pomodoros</span>
  </li>
<% end %>
</ul>

<a href="/todo/new">Add a new To-do</a>